<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SIWES Hub{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to SIWES Hub</h1>
<p>Submit, track, and manage SIWES documents professionally.</p>
{% endblock %}

</body>
</html>